<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="BoardDao">
  <resultMap type="Board" id="BoardMap">
    <id     column="BNOS"    property="no"/>
    <result column="BNM"  property="title"/>
    <result column="CONT"    property="content"/>
    <result column="PASS"    property="password"/>
    <result column="CR_DT"    property="createDate"/>
    <result column="ED_DT"    property="editDate"/>
    <result column="WRRT"    property="writer"/>
    <result column="PNO"    property="pno"/>
  </resultMap>
  <insert id="insert" parameterType="Board">
    insert into BOARD(PNO,BNM,CONT,CR_DT,ED_DT,PASS,WRRT)
    values(#{pno},#{title},#{content},curdate(),curdate(),#{password},#{writer})
  </insert>
  
  <update id="update" parameterType="Board">
    update BOARD set
      BNM=#{title},
      CONT=#{content},
      ED_DT=curdate(),
      PASS=#{password}
    where BNOS=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from BOARD
    where BNOS=#{no}
  </delete>

  <select id="selectList" resultMap="BoardMap">
    select BNOS, BNM, CONT, CR_DT, ED_DT, VIEWS, WRRT, PNO
    from BOARD
  </select>
  
    <select id="selectOne" parameterType="map" resultMap="BoardMap">
    select BNOS, BNM, CONT, CR_DT, ED_DT, PASS, VIEWS, WRRT, PNO
    from BOARD
    where 
    <if test="no != null">
      BNOS=#{no}
    </if>
    <if test="BNM != null">
      BNM=#{title}
    </if>
  </select>
</mapper>
